body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

#main{
  width: 500px;
  margin-top:15vh;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.no-underline, .no-underline:hover {
  text-decoration: none;
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}


@media (max-width: 520px) {
  #main {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

}

h1,h2{
  font-family:'Fjalla One', "Cambria", Georgia, serif;
  font-size: 3em;
  font-weight: normal;
  color: #555;
  margin-top: .15em;
  margin-bottom: -0.2em;
}

.centered{
  margin: 0 auto;
  float: none;
}

@font-face {
  font-family: 'socicon';
  src: url('../font/socicon-webfont.eot');
  src: url('../font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/socicon-webfont.woff') format('woff'),
       url('../font/socicon-webfont.ttf') format('truetype'),
       url('../font/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.socicon {
  font-family: 'socicon' !important;
  font-size: 2em;
}
