body {
  font-family: 'Merriweather', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

#main{
  width: 500px;
  margin-top:15vh;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #2a6496;
  text-decoration: underline;
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

/*p {
  margin: 0 0 10px;
}
*/

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}


@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

h1,h2{
  font-family:'Open Sans', "Cambria", Georgia, serif;
}

.centered{
  margin: 0 auto;
  float: none;
}